*{
    margin: 0;
    padding: 0;
}
.col-1{width: 18.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}
body{
    background-color: #FFFFFF;
}
/* navbar starts here */
.header-img{
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    border: 2px;
}
.Name h1{
    text-align: right;
    padding: 10px;
    margin: 20px;
    margin-left: 20px;
    margin-top: 40px;
}
.nav-menu{
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 20px;
}
.nav-menu a{
    padding: 5px 10px;
    margin: 20px 0px;
    background-color: transparent;
}
/* navbar ends here */
/* profile starts here */
.profile .top-weather-icon{
    position: absolute;
    right: 100px;
    top: 40px;
    width: 120px;
    transition: width 2s transform 2s;
}
.profile .top-weather-icon:hover{
    width: 150px;
}
.profile .bottom-weather-icon{
    position: absolute;
    left: 100px;
    bottom: 20px;
    width: 120px;
    transition: width 2s transform 2s;
}
.profile .bottom-weather-icon:hover{
    width: 150px;
}
.profile-disc p{
    margin-bottom: 50px;
}
/* profile ends here */
/* about me starts here */
.aboutme-image{
    margin-top: 40px;
}
.aboutme-image img{
    height: 270px;
    width: 250px;
}
.about-me-disc p{
    text-align: left;
}
/* about me ends here */
/* Professional Experience starts here  */
.professional-experience{
    padding: 1% 5%;
}
.card-desc ol{
    padding: 10px;
}
.card-desc hr{
    margin: 5px 0px;
}
/* Professional Experience ends here */

/* achievement-contact starts here */
.achievement{
    padding-right: 70px;
}
.contact p{
    margin: 15px 0px;
}
.contact-links h2{
    margin-left: 15px;
}
.contact button{
width: 130px;
font-size: 1.2rem;
}
.contact-links{
    position: relative;
}
.links-button{
    position: absolute;
    margin-top: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* achievement-contact ends here */

/* footer starts here */
.footer-menu{
    margin-top: 12px;
}
.footer-menu a{
    display: inline;
    margin: 5px;
}
.footer-desc{
    text-align: right;
}
/* footer ends here */